main {
    size: 100vh;
}

.titContacto {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

input {
    border-color: $primary-color;
    border-radius: 10px;
    border-width: 3px;
    height: 50px;
    width: 100%;
    margin-bottom: 5rem;
}

.datos {
    margin: 4rem 1rem 1rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    
    .dat{
        margin-bottom: 1rem;
    }

    .datMsj {
        margin-bottom: 0rem;
        height: 120px;
    }
}

.butEnviar {
    padding: 0rem 1rem 1rem 1rem;

    .botonEnviar {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .titContacto {
        font-size:xx-large;
    }

    input {
        border-radius: 12px;
        width: 500px;
    }

    .datos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        
        .datMsj {
            height: 110px;
        }
    }

    .butEnviar {
        display: flex;
        justify-content: center;
    
        .botonEnviar {
            width: 500px;
        }
    }
}

@media (min-width: 991px) {
    .titContacto {
        justify-content: flex-start;
        margin-left: 7rem;
    }
    
    input {
        border-radius: 10px;
        width: 600px;
    }

    .datos {
        margin-top: 4.5rem;
    }

    .butEnviar {
        display: flex;
        justify-content: center;
    
        .botonEnviar {
            width: 600px;
        }
    }
}

@media (min-width: 1200px) {
    .datos {
        margin-top: 4rem;
    }
}


