.divImagen {
    height: 20%;
    
    .imgMujeresVector {
        width: 100%;
        margin: 3rem 1rem 1rem 1rem;
    }
}

.preguntas{
    margin-left: 2rem;
    
    .pregFrec {
        font-family: $general-font;
        color: $primary-color;
        font-weight: 800;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    .parrafoPregs {
        margin-bottom: 2rem;
        font-size: larger;
    }
    
    .parrafoPregs3 {
        padding-bottom: 5rem;
        font-size: larger;
    }
}

@media (min-width: 576px) {
    .preguntas {
        margin-left: 3rem;
		margin-right: 3rem;
        
        .pregFrec {
            margin-top: 1.5rem;
        }

        .parrafoPregs {
            margin-bottom: 3rem;
        }

        .parrafoPregs3 {
            padding-bottom: 7rem;
        }    
    }
    
    .divImagen {
        margin-bottom: 1rem;

        .imgMujeresVector {
            margin: 4rem 1rem 1rem 1rem;
        }
    }
}

@media (min-width: 991px) {
    
    .divImagen {
        margin-bottom: 2rem;
    }

    .preguntas {
        margin-left: 5rem;
		margin-right: 5rem;
    }
}

@media (min-width: 1200px) {
    .preguntas {
		margin-left: 7rem;
		margin-right: 7rem;
	}
}